
.our-projects-container{
    width: 100%;
    height: 100%;
    margin: 10rem;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: clamp(2rem, 3vw, 10rem);
}
.our-projects-content{
  width: 30%;

}
.our-projects-content h1{
    font-size: clamp(2.5rem, 4vw, 10rem);
    font-weight: 500;
    margin-bottom: 2vh;
}
.our-projects-content > p{
    font-size: clamp(1.3rem, 1.5vw, 10rem);
    margin-bottom: 9vh;
    
}
.our-projects-cta{
    display: flex;
    background: #7427a0ff;
    gap: clamp(0.5rem, 1vw, 1rem);
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    cursor: pointer;
    padding: 1rem 1rem;
}
.our-projects-cta p{
    font-size: clamp(1rem, 1.5vw, 10rem);
    text-transform: uppercase;
}
.our-projects-img{
    
    float: right;
    margin-left: 5rem;
    height: 90%;
    position: relative;
    overflow: hidden;

}
.overlay-2{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 900px) {
    .our-projects-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .our-projects-content{
        width: 90%;
    }
    .our-projects-img{
        width: 80%;
        height: 50%;
        overflow-x: hidden;
    }
}