footer{
    width: 100vw;
    height: auto;
    background-color: #7427a0ff;
    margin: 0;
    padding: 1rem;
    display: flex;
    align-items: center;

}
.nav-link {
  text-decoration: none;
  color: inherit;
  margin: 0 12px;
  cursor: pointer;
}

.footer-main{
    width: 95vw;
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    justify-content: space-between;
}
.footer-main h1{
    font-size: clamp(2rem, 3.5vw, 10rem);
    font-weight: 500;
}
.footer-nav{
    display: flex;
    gap: 4rem;
}
.footer-nav p{
    font-weight: 500;
    font-size: clamp(1.2rem, 1.2vw, 4rem);
}
.footer-wrapper p{
    text-align: center;
    font-size: clamp(.6rem, 1vw, 2rem);
}

@media screen and (max-width: 900px) {
    .footer-main{
        flex-direction: column;
        gap: 1rem;
    }
}