
.motto-container {
  width: 100%;
  overflow-x: hidden;
  background-color: #1A1919;
}

.motto-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 16px 64px;
}

.moto-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.moto-text h1 {
  color: #ffffff;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3;
}

.about-description {
  background-color: #ffffff;
  padding: 64px 16px;
}

.about-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;   /* MOBILE FIRST */
  align-items: center;
  gap: 32px;
}

/* =========================
   IMAGE (NO CUTTING)
========================= */
.about-img {
  width: 100%;
  max-width: 520px;
  border-radius: 10px;
  overflow: hidden;
}

.about-img img {
  width: 100%;
  height: auto;            /* IMPORTANT */
  display: block;
  max-height: 320px;   /* REDUCED image height */
  object-fit: cover;
  display: block;
}

/* =========================
   TEXT
========================= */
.about-paragraph {
  width: 100%;
}

.about-paragraph p {
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: 300;
  color: #1A1919;
  text-align: center;
}

/* =========================
   TABLET & DESKTOP
========================= */
@media (min-width: 768px) {

  .moto-text {
    align-items: flex-start;
    text-align: left;
  }

  .moto-text h1 {
    font-size: 2rem;
  }

  .about-wrapper {
    flex-direction: row;   /* TWO COLUMNS */
    align-items: center;
    gap: 48px;
  }

  .about-img {
    flex: 1;
    max-width: 420px;
    max-height: 20%;
  }

  .about-paragraph {
    flex: 1;
  }

  .about-paragraph p {
    font-size: 1.3rem;
    text-align: left;
    
  }
}

/* =========================
   LARGE DESKTOP
========================= */
@media (min-width: 1200px) {
  .moto-text h1 {
    font-size: 3.8rem;
  }
}
