.body{
    overflow-x: hidden;
}
.motto-container{
    width: 100%;
    min-height: 80vh;
    max-height: auto;
    position: relative;
}
.motto-wrapper{
    width: 95%;
    margin: auto;
    height: fit-content;
    
}
.motto-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 60vh;
    background-color: #1A1919;
    z-index: -1;
}
.moto-text{
    padding-top: 15vh;
    position: relative;
    z-index: 4;  
}

.moto-text h1{
    color: white;
    font-weight: 300;
    font-size: clamp(3rem, 5vw, 10rem);
    z-index: 5;
}
.moto-img{
    position: absolute;
    z-index: 3;
    max-height: 10vh;
    width: 50%;
    margin: 10px;
    top: 100%;
    left: 0%;
    right: auto;
   
}
.about-description{
    padding-top: 30vh;
    margin: 20px;
    margin-bottom: 0px;
}
.about-wrapper{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 7vh 0;
    gap: 2rem;
    margin-bottom: 0px;
}
.about-img{
    min-width: 27%;
    max-width: 40%;
    height: auto;
    overflow: hidden;
}

.about-img img{
    width: 100%;
    height: auto;
    max-height: 480px;
    object-fit: cover;
    display: block;
}

.about-paragraph p{
    font-size: clamp(1.7rem, 2vw, 7rem);
    font-weight: 300;
}
@media screen and (max-width: 900px) {
    .about-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .about-img{
        width: 100%;
        max-width: 600px;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .about-paragraph p{
        font-size: 1rem;
    }
    .moto-img{
        top: 100%;
    }
    .about-description{
         padding-top: 10vh;
    }
}