*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .4s ease-in-out;
}
body{
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  padding-top: 75px;
}
body::-webkit-scrollbar{
  display: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.yellow{
  color: rgb(203, 146, 236);
}
.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gal{
    display: flex;
    gap: clamp(2rem, 2.5vw, 10rem);
    font-size: clamp(1rem, 1.2vw, 10rem);
    text-transform: uppercase;
    font-weight: 300;
    background-color: purple;
    padding: 20px;
    margin-right: 10px;
    text-decoration: none;
    width: fit-content;

    }
button{
  outline: none;
  border: none;
  padding: .5rem 2rem;
  font-size: clamp(1rem, 1.2vw, 10rem);
  text-transform: uppercase;
  background-color: #7427a0ff;
  cursor: pointer;
}
a{
  text-decoration: underline;
  color: black;
}