

    .review-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 4rem 0;
}

.review-wrapper h1 {
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 700;
}

.review-wrapper p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #555;
}

.review-cards {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.review-card {
    padding: 1.5rem;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.12);
    text-align: left;
    transition: 0.3s ease;
}

.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 35px rgba(201, 3, 251, 0.189);
}

.review-card span {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
    color: #222;
}

@media screen and (max-width: 800px) {
    .newsletter-wrapper p{
        width: 90%;
    }
    .newsletter-wrapper input{
        width: 80%;
    }
}